<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">ForFun</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'blog:lotto' %}" >로또번호</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:coffee_order' %}" >커피주문받아요</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:adventure' %}" >해주의대모험</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:adventure2' %}" >해주의대모험(new)</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:racing' %}" >GV80</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:areyou' %}" >Areyou</a></li>
    <li><a class="dropdown-item" href="{% url 'forfun:bible_quiz' %}" >성경골든벨</a></li>
    
  </ul>
</li>
 